# Flutter / Dart
.dart_tool/
build/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
functions/node_modules/
functions/lib/

# Generated iOS/macOS Flutter files
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
macos/Flutter/ephemeral/

# Firebase local
.firebase/
firebase-debug.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
functions/.env
