# Node
functions/node_modules/
functions/lib/

# Flutter
flutter_app/.dart_tool/
flutter_app/build/
flutter_app/.packages
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies

# Firebase local
.firebase/
firebase-debug.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
